.App {
  text-align: center;
}

nav {
  display: block;
}

ul {
  background-color: aliceblue;
}
li {
  display: inline;
  padding: 10px;
}
li a {
  color: #282c34;
  text-decoration: none;
}

li a:hover {
  background-color: darkgray;
}

div {
  font-size: larger;
}

input, button {
  padding: 15px;
  font-size: larger;
  opacity: 80%;
  border-color: #61dafb;
}

input {
  border-radius: 10px 0 0 10px;
}

button {
  border-radius: 0 10px 10px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
